body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10pt;
  margin: 30px;
  background-color: #e6e6e6;
}

h1 {
  font-size: 25px;
  font-weight: 350;
  font-variant: small-caps;
  text-align: center;
  color: #fff;
}

a {
  text-decoration: none;
  color: #0078A8;
}
a:hover {
  text-decoration: underline;
}

.main {
  position: relative;
}

.carte-interactive {
  position: absolute;
  left: 295px;
  width: 800px;
  height: 550px;
  background-color: #999;
  border: 3px solid #fff;
  border-radius: 0px 10px 10px 0px;
}

img.popup {
  float: center;
  width: 200px;
  height: 200px;
}
img.hotel {
  width: 300px;
}

.title-box {
  position: absolute;
  width: 255px;
  height: 80px;
  background-image: url("images/skyline.jpg");
  background-position: bottom;
  background-size: 150%;
  border: 3px solid #fff;
  border-radius: 10px 0px 0px 0px;
  padding: 15px;
}
.title {
  position: absolute;
  bottom: -10px;
}

.sidebar {
  position: absolute;
  top: 116px;
  left: 0;
  width: 255px;
  height: 404px;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 0px 0px 0px 10px;
  padding: 15px;
}

.recherche {
  padding-top: 20px;
}
.recherche select {
  height: 25px;
  width: 100%;
  border-color: #666;
  background-color: #fff;
}
.recherche select:focus {
  outline-color: #5da9dd;
}

#filtre {
  position: absolute;
  top: 80px;
  padding: 15px 0px;
}

#near {
  position: absolute;
  top: 280px;
  cursor: pointer;
}
#near span {
  color: #0078A8;
}
#near span:hover {
  text-decoration: underline;
}

#coordonnees {
  position: absolute;
  top: 380px;
  font-size: 11px;
}

.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 8pt;
  padding: 2.5px;
}
